<html>
<body>
    <%- include("partials/header.ejs") %> 
    <h1> Usar la lista</h1>   
    <ul>
        <% for (let i = 0; i < users.length; i++) { %> 
        <li>
            <a href="/users/detail/<%= users[i].id %>"> <%= users[i].name %></a>
        </li>
        <% } %>
    </ul>
    <h2>Search</h2>
    <form action="/users/search" method="GET">
<input type="text" name="search">
<input type="submit" value="Search">
    </form>
</body>
</html>